@model DolmToken.Models.Message

<h3>@Model.Header</h3>
<p>
    <b>Meldung</b><br />
    @Model.MessageText
</p>

@if ((Model.Solution != null) && (Model.Solution.Trim().Length >= 1))
{
    <p>
        <b>Lösung</b><br />
        @Model.Solution
    </p>
}