<ul>
    <a href="#home"><img style="margin: 5px 5px; width: 64px; height: 64px; float: left;" src="~/bitcoin.png" alt="Coin" /></a>
    <li><a href="/Home/Index" style="font-weight: bold;">DOLM TOKEN</a></li>
    <li style="float:right"><a href="/user/Registration">REG/LOG</a></li>
    <li style="float:right"><a href="#news">FAQ</a></li>
    <li style="float:right"><a href="#news">LANGUAGE</a></li>
    <li style="float:right"><a href="#contact">BUY</a></li>
    <div class="dropdown">
        <button class="dropbtn">DROPDOWN</button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
</ul>



