<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FirstWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Shop.css" />
</head>
<body>

    <div id="container">

        <header>
            Kopfbereich
        </header>
        <main>
            <nav>

                <partial name="Navigation"/>

                
            </nav>
            <content>
                @* hier wird die zugehörige view angezeiget*@

                @RenderBody()
            </content>
                <aside>

                    Seitenbereich

                </aside>
            
        </main>
        <footer>

            <partial name="Footer" />
            Fußbereich

        </footer>
    </div>






    
          
       
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
