@*ist eine Prtielle View
    partielle views werden in andere views eingefügt
    
    kann dadurch mehrfach eingebunden werden - an verschiedenen Stellen
    
    
    *@

<ul>

    <li class="level1">
        <a href="/home/index">Startseite</a>
    </li>
    <li class="level2">
        <a href="/home/aboutus">Über uns</a>
    </li>
    <li class="level2">
        <a href="/home/impressum">Impressum</a>
    </li>

    <li class="level1">
        <a href="/user/index">Userverwaltung</a>
    </li>
    <li class="level2">
        <a href="/user/registration">Registrierung</a>
    </li>
    <li class="level2">
        <a href="/user/login">Login</a>
    </li>

    <li class="level1">
        <a href="/shop/index">Onlineshop</a>
    </li>
    <li class="level2">
        <a href="/shop/shop">Artikel</a>
    </li>
    <li class="level2">
        <a href="/shop/basket">Warenkorb</a>
    </li>
</ul>