
@{
    ViewData["Title"] = "Index";
}

<div class="textbereich">
    <h1>A DECENTRALIZED MEME TOKEN THAT <br />EVOLVED INTO A VIBRANT ECO SYSTEM</h1>
    <p>This is the new generation of meme tokens with <br />an supply of 69,000,000.00 DLM Tokens. <br />Furthermore, the price will continue to rise due to the strong growth in our community.</p>
    <h2>WE SEND THIS TOKEN TO THE MOON!</h2>
</div>


<div class="boxbereich">
    <div class="box">
        <div class="body2">
            <div class="card">
                <div class="img1">
                    <div class="card-content">
                        <h2 class="card-title">Burning Token</h2>
                        <p class="card-body">50% of the Tokens will be burned</p>
                        <a href="#" class="button">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box2">
        <div class="body2">
            <div class="card">
                <div class="img2">
                    <div class="card-content">
                        <h2 class="card-title">Locked Liquidity</h2>
                        <p class="card-body">50% of Liquidity Pool will be locked</p>
                        <a href="#" class="button">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box3">
        <div class="body2">
            <div class="card">
                <div class="img3">
                    <div class="card-content">
                        <h2 class="card-title">Marketing</h2>
                        <p class="card-body">4% of fees will be used for Marketing</p>
                        <a href="#" class="button">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p>All Rights Reserved ©</p>

