* :not(.card, .card-body, .card-content, .card-title) {
    font-family: 'Berlin Sans FB';
    background-color: #4A4A4A;
}

h1 {
    color: #49429e;
    text-align: left;
}

p {
    color: white;
    text-align: left;
    
}

h2 {
    margin-top: 38px;
    color: white;
    text-align: left;
}

h3 {
    color: white;
}

#container {
    min-width: 640px;
    margin:auto;
}

header {
    height: 100px;
}

content {
    min-width: 340px;
    float: left;
    min-height: 560px;
    padding: 60px 80px;
}

a:hover {
    text-decoration: none;
    color: #49429e;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: left;
        padding: 20px 30px;
        text-decoration: none;
    }

.dropbtn {
    color: white;
    padding: 20px 30px;
    font-size: 16px;
    border: none;
}

.dropdown {
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown:hover .dropdown-content, .dropbtn:hover {
    color: #49429e;
    display: block;
}


.box, .box2, .box3 {
    width: 400px;
    height: 500px;
    max-width: 400px;
    max-height: 500px;
    border-radius: 30px;
    float: left;
    padding: 0px;
    margin-right: 0px;
}    
.textbereich {
     
         width: 100%;
        height: 300px;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
    }
.boxbereich {
    display: flex;
    align-items: center;
    justify-content: center;
}
:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(142, 90%, 61%);
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body2 {
    display: grid;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    background: var(--clr-neutral-900);
}
.card-body{
    text-align: left;
}
.card {
    color: var(--clr-neutral-100);
    background-size: cover;
    width: 350px;
    max-width: 500px;
    border-radius: 2rem;
    overflow: hidden;
    transition: transform 500ms ease;
}
.img1 {
    background-size: cover;
    background-image: url(../FIRE_01.jfif);
}
.img2 {
    background-size: cover;
    background-image: url(../liquidity.jpg);
}
.img3 {
    background-size: cover;
    background-image: url(../marketing.jpg);
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    padding: 1.5em;
    background: linear-gradient( hsl(0 0% 0% / 0), hsl(0 0% 0% / 1));
    transform: translateY(54%);
    transition: transform 500ms ease;
    transition-delay: 500ms;
}

.card-title::after{
    content: "";
    position: absolute;
    height:3px;
    left: calc(var(--padding) * -1);
    bottom: 0;
    width: calc(100% + var(--padding));
    background: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
}
.card:hover .card-title::after{
    transform: scaleX(1);
}
.card-title{
    position: relative;
    width: max-content;
}
.button{

    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--clr-neutral-400);
    padding: 0.5em 1.25em;
    border-radius: 0.5rem;
}

.button:hover,
.button:focus{
    background-color: var(--clr-neutral-100);
}

.card:hover{
    transform: scale(1.05);
}

.card:hover .card-content{
    transform: translateY(0%);
}