@model FirstWebApp.Models.User
@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>

<form asp-controller="user" asp-action="registration" method="post"> 
    <p>
        <label asp-for="Username">
            Benutzername
        </label>
            <input type="text" asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </p>
    <p>

        <label asp-for="Password">
            Passwort
        </label>
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </p>
    <p>
        <label asp-for="Email">
            Email
        </label>
        <input type="email" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </p>
    <p>
        <label asp-for="Birthdate">
            Geburtsdatum
        </label>
        <input type="date" asp-for="Birthdate" />
        <span asp-validation-for="Birthdate"></span>
    </p>
    <p>
        <label asp-for="Gender">
            Geschlecht
        </label>
        <select asp-for="Gender">

            <option value="0">männlich</option>
            <option value="1">weiblich</option>
            <option value="2">nicht angegeben</option>

        </select>
        <span asp-validation-for="Gender"></span>
    </p>
    <p>
        <label>
            <input type="submit" value="absenden" />
            <input type="reset" value="abbrechen" />

        </label>
    </p>
</form>